# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse specific files
*.classpath
*.project
*.settings/

# IntelliJ IDEA specific files
*.iml
.idea/
out/

# MacOS specific files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Java specific files
*.class

# Selenium specific files
test-output/